@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);


#ext_menu-3 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #475577;
}
#ext_menu-3 .mbr-navbar__section {
  background: #475577;
}
#ext_menu-3 .mbr-navbar__hamburger {
  color: #27aae0;
}
#ext_menu-3 .mbr-brand__name a {
  font-size: 13px;
}
#slider-10 H1 {
  font-family: 'Arimo', sans-serif;
  font-size: 22px;
}
#slider-10 .btn {
  font-family: 'Arimo', sans-serif;
  font-size: 15px;
}
#contacts3-11 P {
  color: #ffffff;
  font-size: 12px;
}
#contacts3-11 UL {
  color: #ffffff;
}
#msg-box4-23 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-23 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-23 .mbr-article {
  color: #ffffff;
}
#ext_menu-3 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #475577;
}
#ext_menu-3 .mbr-navbar__section {
  background: #475577;
}
#ext_menu-3 .mbr-navbar__hamburger {
  color: #27aae0;
}
#ext_menu-3 .mbr-brand__name a {
  font-size: 13px;
}
